<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div>
        <a href="{{ site.url }}">
          <img class="monkey"src="{{ site.baseurl }}/public/assets/(background removed) MoNA 1.png">
        </a>
      </div>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <a href="{{ site.url }}"><p class="lead">{{ site.description }}</p></a>
    </div>

    <div class="sidebar-nav">
      <div><a class="sidebar-nav-item" href="https://github.com/multiomics-analytics-group">
        GitHub
      </a></div>
      <div><a class="sidebar-nav-item" href="https://github.com/multiomics-analytics-group">
        GitHub
      </a></div>
      <div><a class="sidebar-nav-item" href="https://github.com/multiomics-analytics-group">
        GitHub
      </a></div>
    </div>
  </div>
</div>

<!---
Personalized top menu bar
-->

<div class="topbar">
  <ul>
    <li><a class="topbar-nav-item{% if page.url == site.url %} active{% endif %} home-active" href="{{ site.url }}/">Home</a></li>

    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        <li><a class="topbar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}

  </ul>
	</nav>
</div>